<div id="form-container">
    <h1>Registration</h1>
    <form (submit)="onSubmitRegistration()" [formGroup]="registrationForm">
        <label>Email</label>
        <input type="email" formControlName="email">
        <label>Username</label>
        <input type="text" formControlName="username">
        <label>Password</label>
        <input type="password" formControlName="password">
        <input type="submit" value="Register" [disabled]="!registrationForm.valid">
    </form>
    <a routerLink="/login">Already have an account?</a>
</div>